
*\.DS_Store

lab1_claret_martinez/code/\.classpath

lab1_claret_martinez/code/\.project

lab1_claret_martinez/code/\.settings/org\.eclipse\.jdt\.core\.prefs

lab1_claret_martinez/code/\.settings/org\.eclipse\.m2e\.core\.prefs
